*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: lightgrey;
   font-family: 'Roboto', sans-serif;
}
header{
   padding: 20px;
   background-color: white;
}
.logo{
   vertical-align: middle;
}
h1{
   display: inline-block;
   vertical-align: middle;
}
.tasks-container{
   padding: 0;
   width: 800px;
   height: 900px;
   margin: 0 auto;
   background-color: white;
   margin-top: 50px;
}
.bottoni{
   width: 100%;
   height: 50px;
   padding: 20px;
}
.bottone1{
   background-color: lightskyblue;
   border-radius: 10px;
   padding: 7px;
   color: white;
}
.bottone2{
   display: inline;
  border: 1px solid gray;
  color: grey;
  border-radius: 10px;
  padding: 5px;
}
hr {height: 2px;
   background-color: lightgrey;
   border:none
}
h3{
   display: inline;
}
.circle{
   border: 1px solid green;
   border-radius: 50%;
   color: green;
   text-align: center;
   line-height: 5px;
   height: 5px;
}
.circle2{
   border: 1px solid red ;
   border-radius: 50%;
   color:red;
   height: 5px;
   line-height: 5px;
   text-align: center;

}
.tag{
   display: inline-block  ;
   color: white;
   border-radius: 10px;
   padding: 5px;
}
.tag-blue{
   background-color: lightblue;
}
.tag-viola{
   background-color: blueviolet;
}
.tag-orange{
   background-color: orange;
}
.tag-green{
   background-color: green;
}
.tag-pink{
   background-color: palevioletred;
}
.tag-lightgreen{
   background-color: lightgreen;
}
.task{
   margin-bottom: 20px;
   margin-left: 30px;
}
.task-list{
   margin-left: 30px;
   margin-bottom: 15px;
}