*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: lightgrey;
   font-family: 'Roboto', sans-serif;
}
header{
   padding: 20px;
   background-color: white;
}
.logo{
   vertical-align: middle;
}
h1{
   display: inline-block;
   vertical-align: middle;
}